/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    max-width: 100%;
    overflow-x: hidden;
}

body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.backdropBackground {
    background-color: #94a1a1c0;
    backdrop-filter: blur(2px);
}