<div style="width: 100%;" [style.height]="screenHeight">
    <div style="height: 45%;">
        <div style="height: 100%; width: calc(33.33% - 10px); float: left; overflow: hidden;">
            <video #video autoplay playsinline height="100%"></video>
            <canvas #canvas id="canvas" style="display: none;"></canvas>
        </div>
        <div style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px;">
            <span *ngIf="responseReceived">
                <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image" height="100%" width="99%">
            </span>
        </div>
        <div style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px;">
            <span *ngIf="responseReceived">
                <img [src]="imageUrl" alt="Uploaded Image" height="100%" width="99%">
            </span>
        </div>
    </div>

    <div style="height: 45%; margin-top: 15px;">
        <div style="height: 100%; width: calc(50% - 7px); float: left;">
            <span *ngIf="responseReceived">
                <p>Class Names: {{ response.class_names }}</p>
                <p>Object Locations: {{ response.object_locations }}</p>
            </span>
        </div>
        <div style="height: 100%; width: calc(50% - 7px); float: left; margin-left: 14px;">
            <span *ngIf="responseReceived">
                <p>Class Names: {{ response.class_names }}</p>
                <p>Object Locations: {{ response.object_locations }}</p>
            </span>
        </div>
    </div>

    <div style="height: calc(10% - 15px);">
        <button *ngIf="!onProcess" (click)="startProcess()">Take Picture</button>
        <button *ngIf="onProcess" (click)="stopCamera()">Stop Camera</button>
    </div>
</div>


