<div style="width: 100%;" [style.height]="screenHeight">
    <div style="height: 45%;">
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; position: relative;">
            <div class="overlay">
                <span class="blinking-dot" [style.visibility]="dotVisible ? 'visible' : 'hidden'"></span>
                Live Cam
              </div>
              
            <video #video autoplay playsinline height="100%"></video>
            <canvas #canvas id="canvas" style="display: none;"></canvas>
        </mat-card>
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px; position: relative;">
            <div class="overlay">Captured Image</div>
            <div *ngIf="responseReceived" style="margin: auto;">
                <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image" height="100%" width="100%">
            </div>
        </mat-card>
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px; position: relative;">
            <div class="overlay">Detected Pests/Diseases/Weeds</div>
            <div *ngIf="responseReceived" style="margin: auto;">
                <img [src]="imageUrl" alt="Uploaded Image" height="100%" width="100%">
            </div>
        </mat-card>
    </div>
    

    <div style="height: 45%; margin-top: 20px;">
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; position: relative;">
            <div class="overlay">Console</div>
            <div *ngIf="responseReceived" style="margin: auto;" #scrollContainer class="inner-div">
                <span *ngFor="let console of consoleValue">
                    <p class="console-style">Current Frame No: {{ console.current_frame_no }}</p>
                    <p class="console-style">Current Area No: {{ console.current_area_no }}</p>
                    
                    <span *ngIf="console.class_names">
                        <p class="console-style">Class Names: 
                            <span *ngIf="console.class_names == 'pest_grasshopper'" style="font-weight: bold;" [style.color]="console.color">
                                {{ console.class_names }}
                            </span>
                            <span *ngIf="console.class_names != 'pest_grasshopper'"  [style.color]="console.color">
                                {{ console.class_names }}
                            </span>
                        </p>
                        <p class="console-style">Object Locations: 
                            <span *ngIf="console.object_locations.length > 1">
                                <span *ngFor="let location of console.object_locations">
                                    [{{ location }}],
                                </span>
                            </span>
                            <span *ngIf="console.object_locations.length == 1">
                                [{{ console.object_locations }}]
                            </span>
                        </p>
                    </span>

                    <span *ngIf="!console.class_names">
                        <p class="console-style">Nothing Detected</p>
                    </span>

                    <hr>
                </span>
            </div>
        </mat-card>
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px; position: relative;">
            <div class="overlay">Detection Overall Result</div>
            <div *ngIf="responseReceived"  class="overall-result-div">
                <p>Started at: {{ detection_started_time | date:'medium' }}</p>
                <p>Current Frame No: {{ current_frame_no }}</p>
                <p>Total Area Covered: {{ total_area_covered }}</p>
                <p *ngIf="detection_end_time">Ended at: {{ detection_end_time | date:'medium' }}</p>
                <hr>
                <div *ngFor="let item of countedDetectedClasses">
                    <p>{{ getKey(item) }}: {{ item[getKey(item)] }}</p>
                </div>
            </div>
        </mat-card>
        <mat-card style="height: 100%; width: calc(33.33% - 10px); float: left; margin-left: 15px; position: relative;">
            <div class="overlay">Precision Spraying Result</div>
            <div *ngIf="responseReceived" style="margin: auto;" #scrollContainer1 class="spraying-result-div">
                <mat-card class="inner-mat-card" *ngFor="let console of sprayingResult" style="margin-bottom: 15px !important; padding: 10px !important; padding-bottom: 15px;">
                    <p class="spraying-console-style">Current Frame No: {{ console.current_frame_no }}</p>
                    <p class="spraying-console-style">Current Area No: {{ console.current_area_no }}</p>
                    <p class="spraying-console-style">Class Names: 
                        <span *ngIf="console.class_names == 'pest_grasshopper'" style="font-weight: bold;" [style.color]="console.color">
                            {{ console.class_names }}
                        </span>
                        <span *ngIf="console.class_names != 'pest_grasshopper'" [style.color]="console.color">
                            {{ console.class_names }}
                        </span>
                    </p>
                    <p class="spraying-console-style">Object Locations: 
                        <span *ngIf="console.object_locations.length > 1">
                            <span *ngFor="let location of console.object_locations">
                                [{{ location }}],
                            </span>
                        </span>
                        <span *ngIf="console.object_locations.length == 1">
                            [{{ console.object_locations }}]
                        </span>
                    </p>
                    <p *ngIf="console.need_to_spray_chemical" class="spraying-console-style" style="font-weight: bold;">{{ console.chemical_name }}</p>

                    <div style="width: 100%; margin-top: -5px;" *ngIf="console.need_to_spray_chemical">
                        <div style="width: 20px; float: left; height: 20px !important;">
                            <mat-icon style="font-size: 20px; margin-top: 10px !important;" [style.color]="console.color">gps_fixed</mat-icon>
                        </div>
                        <div style="width: calc(96% - 20px); float: left;">
                            <div style="width: 100%; margin-top: 11px; padding-left: 4px;">
                                <p  class="spraying-console-style" style="font-weight: bold;">
                                    {{ console.chemical_group_name }}
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>

    <div style="height: calc(10% - 15px); padding-top: 17px !important;">
        <button *ngIf="!onProcess" (click)="startProcess()" mat-flat-button color="primary">
            <mat-icon>videocam</mat-icon> Start Live Streaming
        </button>
        
        <button *ngIf="onProcess" (click)="stopCamera()" mat-flat-button color="warn">
            <mat-icon>videocam_off</mat-icon> Stop Live Streaming
        </button>

        <button *ngIf="chatgptConsultant" mat-flat-button color="accent" style="margin-left: 10px;">Take ChatGPT's Consultant</button>
    </div>
</div>


