
<div style="width: 100%;" [style.height]="screenHeight">
  <div style="height: 100%;">

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">image</mat-icon> Image</div>
        
        <div style="height: 100%; width: 100%;">
          <div style="height: calc(50% - 5px); width: 100%;">
            <div style="position: relative; width: calc(50% - 5px); height: 100%; float: left;" class="custom-file-label">
              <label style="text-align: center;">
                <mat-icon>image_search</mat-icon><br>
                <span>Click to Upload a Image file</span>
                <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg">
              </label>
              <div class="title">
                <p style="margin: 0;">Upload Image</p>
              </div>
            </div>
            
            <div style="position: relative; width: calc(50% - 5px); height: 100%; margin-left: 10px; float: left;" class="custom-file-label">
              <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image" height="100%" width="100%">
              <div class="title">
                <p style="margin: 0;">Captured Image</p>
              </div>
            </div>
          </div>
          <div style="height: calc(50% - 5px); width: 100%; margin-top: 10px;">
            <div style="position: relative; width: calc(50% - 5px); height: 100%; float: left;" class="custom-file-label">
              <span *ngIf="responseReceived">
                <img [src]="imageUrl" alt="Uploaded Image" height="100%" width="100%">
              </span>

              <mat-spinner *ngIf="imageProcessing && !responseReceived" [diameter]="70"></mat-spinner>

              <div class="title">
                <p style="margin: 0;">Predicted Image</p>
              </div>
            </div>
            <div style="position: relative; width: calc(50% - 5px); height: 100%; margin-left: 10px; float: left;" class="custom-file-label">
              <div *ngIf="responseReceived" style="height: 100%; width: 100%; padding: 10px; line-height: 14px; font-size: 14px;" class="inner-div">
                <span *ngFor="let item of response.class_names; let i = index">
                  <p *ngIf="i === 0" style="font-weight: bold; text-align: center;">Total Detected Classes: {{ response.class_names.length }}</p>
                  <hr  *ngIf="i === 0">
                  <p>Name of Class {{i + 1}}: {{ item }}</p>
                </span>
                <hr>
                <span *ngFor="let item of response.object_locations; let i = index">
                  <p>Location of Object {{i + 1}}: {{ item }}</p>
                </span>
              </div>

              <mat-spinner *ngIf="imageProcessing && !responseReceived" [diameter]="70"></mat-spinner>

              <div class="title">
                <p style="margin: 0;">Predicted Result</p>
              </div>
            </div>
          </div>
        </div>
    </mat-card>

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; margin-left: 15px; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">video_library</mat-icon>Video</div>
        
        <div>
          <input type="file" (change)="onFileSelectedForVideo($event)" accept="video/*" class="form-control">
        </div>

        <div style="position: relative; width: 100%; height: calc(100% - 10px); float: left; margin-top: 10px;" class="custom-file-label">

          <div class="title">
            <p style="margin: 0;">Predicted Video</p>
          </div>

          <mat-spinner *ngIf="!videoProcessed && videoProcessing" [diameter]="90"></mat-spinner>

          <div *ngIf="videoProcessed" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: black;">
            <video  width="100%" height="100%" controls>
              <source type="video/mp4" [src]="getVideoUrl()">
              <source type="video/ogg" [src]="getVideoUrl()">
              <source type="video/webm" [src]="getVideoUrl()">
              <source type="video/x-flv" [src]="getVideoUrl()">
              <source type="video/m4v" [src]="getVideoUrl()">
              <source type="video/f4v" [src]="getVideoUrl()">
              <source type="video/f4p" [src]="getVideoUrl()">
              <source type="video/ogv" [src]="getVideoUrl()">
              <source type="video/webm" [src]="getVideoUrl()">
              <source type="video/flv" [src]="getVideoUrl()">
              <source type="video/avi" [src]="getVideoUrl()">
            </video>
          </div>
        </div>
        
    </mat-card>
  </div>
</div>
  