
<div style="width: 100%;" [style.height]="screenHeight">
  <div style="height: 100%;">

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">image</mat-icon> Image</div>
        
        <div style="height: 100%; width: 100%;">
          <div style="height: calc(50% - 5px); width: 100%;">
            <div style="position: relative; width: calc(50% - 5px); height: 100%; float: left;" class="custom-file-label">
              <label style="text-align: center;">
                <mat-icon>image_search</mat-icon><br>
                <span>Click to Upload a Image file</span>
                <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg">
              </label>
              <div class="title">
                <p style="margin: 0;">Upload Image</p>
              </div>
            </div>
            
            <div style="position: relative; width: calc(50% - 5px); height: 100%; margin-left: 10px; float: left;" class="custom-file-label">
              <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image" height="100%" width="100%">
              <div class="title">
                <p style="margin: 0;">Captured Image</p>
              </div>
            </div>
          </div>
          <div style="height: calc(50% - 5px); width: 100%; margin-top: 10px;">
            <div style="position: relative; width: calc(50% - 5px); height: 100%; float: left;" class="custom-file-label">
              <span *ngIf="responseReceived">
                <img [src]="imageUrl" alt="Uploaded Image" height="100%" width="100%">
              </span>

              <div class="title">
                <p style="margin: 0;">Predicted Image</p>
              </div>
            </div>
            <div style="position: relative; width: calc(50% - 5px); height: 100%; margin-left: 10px; float: left;" class="custom-file-label">
              <span *ngIf="responseReceived">
                <p>Class Names: {{ response.class_names }}</p>
                <p>Object Locations: {{ response.object_locations }}</p>
              </span>

              <div class="title">
                <p style="margin: 0;">Predicted Result</p>
              </div>
            </div>
          </div>
        </div>
    </mat-card>

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; margin-left: 15px; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">video_library</mat-icon>Video</div>
        
    </mat-card>
  </div>
</div>
  