
<div style="width: 100%;" [style.height]="screenHeight">
  <div style="height: 100%;">

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">image</mat-icon> Image</div>
        
        <div class="col-md-6">
          <input type="file" (change)="onFileSelected($event)" class="form-control">
        </div>
        <div class="col-md-6">
          <img *ngIf="uploadedImage" [src]="uploadedImage" alt="Uploaded Image">
        </div>

        <span *ngIf="responseReceived">
          <img [src]="imageUrl" alt="Uploaded Image" >
          <p>Class Names: {{ response.class_names }}</p>
          <p>Object Locations: {{ response.object_locations }}</p>
        </span>
    </mat-card>

    <mat-card style="height: 100%; width: calc(50% - 10px); float: left; margin-left: 15px; position: relative;" class="mat-main-card">
        <div class="overlay"><mat-icon style="margin-right: 5px;">video_library</mat-icon>Video</div>
        
    </mat-card>
  </div>
</div>
  